<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
	"classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.TomcatJDBCConnectionProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/enrichr</property>
		<!-- Set username/password in hibernate.properties on classpath -->
		<!-- <property name="hibernate.connection.username"></property> -->
		<!-- <property name="hibernate.connection.password"></property> -->
		<property name="hibernate.tomcatJdbcPool.validationQuery">SELECT 1</property>
		<property name="hibernate.tomcatJdbcPool.testOnBorrow">true</property>
		<property name="show_sql">true</property>
		<mapping class="edu.mssm.pharm.maayanlab.Enrichr.User"/>
		<mapping class="edu.mssm.pharm.maayanlab.Enrichr.List"/>
	</session-factory>
</hibernate-configuration>
