html {
	height: 100%;
}

body {
	margin: 0px auto;
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
	width: 750px;
}

a {
	color: #D90000;
	outline: 0;
	text-decoration: none;
}

input[type='text'], textarea {
	font-size: 16px;
}

textarea:focus, input:focus {
	outline-color: #D90000;	
}

div.beveled {
	padding: 20px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.clear {
	clear: both;
}

/* Global styling */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

.red {
	color: #D90000 !important;
}

svg {
	overflow: hidden;
}

/* Logo */

div#logo {
	margin: 0.1em 0em 0em 0em;
	letter-spacing: 0.1em;
	font-size: 3em;
	/*font-weight: bold;*/
	float: left;
}

div#logo span {
	vertical-align: top;
	color: #000;
}

/* Warning */

table.warning {
	margin: 0 auto;
}

table.warning td#header {
	font-weight: bold;
	text-align: center;
	padding-bottom: 1em;
}

table.warning tr#browsers td {
	padding: 20px;
	text-align: center;
}

table.warning tr#browsers td div a {
	font-weight: bold;
	font-size: 1em;
	padding: 0.1em;
	color: #000;
}

table.warning tr#browsers td div a:hover {
	color: #fff;
	background-color: #000;
}

/* Navbar */

#navbar {
	margin-bottom: 1em;
}

#navbar td {
	padding-right: 1em;
}

.nav td {
	white-space: nowrap;
}

.nav td.selected a {
	color: #fff;
	background-color: #000 !important;
}

.nav td a {
	font-weight: bold;
	font-size: 1em;
	padding: 0.1em;
	color: #000;
}

.nav td a:hover {
	color: #fff;
	background-color: #D90000;
}