div.content {
	margin-top: 1em;
	position: relative;
}

/* Download links */
div.downloadbox {
	float: right;
}

div.downloadbox a {
	color: #aaa;
	font-size: 0.6em;
	margin-left: 0.6em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

div.downloadbox a:hover {
	color: #000;
}

/* Session warning */
div#session-warning {
	margin-bottom: 1em;
}

div#session-warning img {
	vertical-align: text-bottom;
}

div#session-warning span {
	color: #000;
	margin-left: 0.2em;
}

a.title {
	font-size: 1.5em;
	color: #D90000;
	font-weight: bold;
	text-decoration: none;	
}

/* Navbar */
#navbar td.shown a {
	color: #fff;
	background-color: #000 !important;
}

table.nav {	
	font-size: 1em;
	margin: 0.3em 0em 0em 0em;
	float: right;
	display: none;
}

table.nav td {
	padding-left: 1em;	
}

/* Table properties */
div.export-box {
	margin-top: 0.5em;
}

div.export-box a {
	font-weight: bold;
	color: #000;
}

div.export-box a:hover {
	border: 1px solid #D90000;
	color: #fff;
	background-color: #D90000;
}

div.gene-overlap {
	max-width: 400px;
	font-size: 0.7em;
	text-align: justify;
}

/* Description */
#description {
	margin-bottom: 1em;
	font-weight: bold;
}

#description td#red {
	padding: 0.1em 0.2em;
	border: 1px solid #D90000;
	background-color: #D90000;
	color: #fff;
	vertical-align: middle;
}

#description td#black {
	padding: 0.1em 0.2em;
	border-width: 1px;
	border-style: solid none;
	width: 100%;
}

/* Bar graph properties */
div.bar-graph div.method {
	float: left;
}

div.bar-graph div.method span {
	font-weight: bold;
}

/* Grid properties */
div.grid div.svg-container {
	text-align: center;
}

div.grid td.scores {
	padding-left: 2em;
	font-weight: bold;
}

div.grid td.scores span {
	color: #ddd;
}

/* Grid-network properties */
div.grid-network div.svg-container {
	text-align: center;
}

/* Share */
#share {
	background: #000;
	border: 1px solid #000;
}

#share:hover {
	background: #D90000;
	border: 1px solid #D90000;
}

#share img {
	vertical-align: middle;
}

#blanket {
	background-color: #111;
	filter: alpha(opacity=65);
	position: fixed;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

div.popup {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9002;
	display: none;
}

div.popup div#advice {
	font-size: 0.8em;
}

div.popup input {
	width: 45em;
	outline: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0.4em;
}

/* Color settings */
div.settings {
	position: absolute;
	bottom: 0;
	right: 0;
}

td.settings a:hover {
	background: none;
}