div.next-step {
	float: right;
}

a.help {
	font-size: xx-small;
	vertical-align: top;
	text-decoration: none;
	color: #F38630;
}

/* Form message */
div.form-message {
	float: left;
	width: 250px;
	margin-right: 5em;
	margin-bottom: 5em;
}

div.form-message p {
	font-weight: bold;
}

div.form-message ul {
	margin: 1em 0em;
}

div.form-message li {
	list-style: square;
	margin-left: 3em;
	margin-bottom: 0.5em;
}

/* Form styling */
fieldset {
	margin-bottom: 2.5em;
	position: relative;
	float: left;
	margin-right: 5em;
}

fieldset label {
	position: relative;
}

span.asterisk {
	color: #D90000;
	font-weight: normal;
	font-size: 1em;
	vertical-align: top;
	padding-left: 0.1em;
}

legend {
	margin-bottom: 0.25em;
}

label {
	display: inline-block;
	width: 220px;
}

label.doublefield {
	width: 105px;	
}

label#firstname {
	margin-right: 6px;
}

label input {
	width: 100%;
}

input.error {
	outline-color: #D90000;
	outline-style: auto;
	outline-width: 5px;
}

span.placeholder-text {
	display: none;
	position: absolute;
	top: 2px;
	left: 3px;
	color: #999;
}

div.errormsg {
	margin-top: 0.25em;
	display: none;
	position: absolute;
	color: #D90000;
}

div.feedback {
	color: #D90000;
	font-weight: bold;
	margin-top: 1.5em;
	float: left;
}